#loading-screen {
  position: fixed;
  inset: 0;
  z-index: 100;
  background-color: #fef3c7; /* amber-100 */
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 2rem;
  overflow: hidden;
}

#loading-screen p {
  font-size: clamp(2rem, 10vw, 4rem);
  text-transform: uppercase;
  line-height: 1;
  margin: 0;
  font-family: var(--font-serif);
}

#counter {
  display: flex;
  height: 100px; /* Altura de um único número */
  font-size: clamp(3rem, 15vw, 100px);
  line-height: 100px;
  font-weight: 400;
  overflow: hidden; /* Corta os números que estão fora da linha */
}

.num {
  font-family: var(--font-serif);

  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 0.6em;
}
