@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans:
    "IBM Plex Sans", "Inter", ui-sans-serif, system-ui, -apple-system,
    sans-serif;
  --font-mono: "IBM Plex Mono", "Fira Code", ui-monospace, monospace;
  --font-heading: var(--font-serif);
  --font-serif: "IBM Plex Serif", "Georgia", ui-serif, serif;
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --shadow-2xl: var(--shadow-2xl);
  --shadow-xl: var(--shadow-xl);
  --shadow-lg: var(--shadow-lg);
  --shadow-md: var(--shadow-md);
  --shadow: var(--shadow);
  --shadow-sm: var(--shadow-sm);
  --shadow-xs: var(--shadow-xs);
  --shadow-2xs: var(--shadow-2xs);
  --spacing: var(--spacing);
  --letter-spacing: var(--letter-spacing);
  --shadow-offset-y: var(--shadow-y);
  --shadow-offset-x: var(--shadow-x);
  --shadow-spread: var(--shadow-spread);
  --shadow-blur: var(--shadow-blur);
  --shadow-opacity: var(--shadow-opacity);
  --color-shadow-color: var(--shadow-color);
  --color-destructive-foreground: var(--destructive-foreground);
}

:root {
  --background: oklch(0.9801 0.0034 67.7835);
  --foreground: oklch(0.2006 0.0138 34.3909);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.2006 0.0138 34.3909);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.2006 0.0138 34.3909);
  --primary: oklch(0.4732 0.1247 46.2007);
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(0.9728 0.0118 51.3225);
  --secondary-foreground: oklch(0.404 0.0799 48.0849);
  --muted: oklch(0.9508 0.008 73.7429);
  --muted-foreground: oklch(0.5525 0.0155 53.167);
  --accent: oklch(0.9097 0.0386 60.9712);
  --accent-foreground: oklch(0.404 0.0799 48.0849);
  --destructive: oklch(0.5343 0.1951 26.9711);
  --destructive-foreground: oklch(1 0 0);
  --border: oklch(0.8958 0.013 63.9053);
  --input: oklch(0.8958 0.013 63.9053);
  --ring: oklch(0.4732 0.1247 46.2007);
  --chart-1: oklch(0.4732 0.1247 46.2007);
  --chart-2: oklch(0.5553 0.1455 48.9975);
  --chart-3: oklch(0.5534 0.1739 38.4022);
  --chart-4: oklch(0.5538 0.1207 66.4416);
  --chart-5: oklch(0.4762 0.1034 61.9071);
  --radius: 0.625rem;
  --sidebar: oklch(0.9448 0.008 73.7424);
  --sidebar-foreground: oklch(0.2006 0.0138 34.3909);
  --sidebar-primary: oklch(0.4732 0.1247 46.2007);
  --sidebar-primary-foreground: oklch(1 0 0);
  --sidebar-accent: oklch(0.903 0.0202 69.978);
  --sidebar-accent-foreground: oklch(0.404 0.0799 48.0849);
  --sidebar-border: oklch(0.8958 0.013 63.9053);
  --sidebar-ring: oklch(0.4732 0.1247 46.2007);
  --font-sans:
    "IBM Plex Sans", "Inter", ui-sans-serif, system-ui, -apple-system,
    sans-serif;
  --font-serif: "IBM Plex Serif", "Georgia", ui-serif, serif;
  --font-mono: "IBM Plex Mono", "Fira Code", ui-monospace, monospace;
  --shadow-x: 0;
  --shadow-y: 1px;
  --shadow-blur: 3px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.06;
  --shadow-color: #241005;
  --shadow-2xs: 0 1px 3px 0px hsl(21.2903 75.6098% 8.0392% / 0.03);
  --shadow-xs: 0 1px 3px 0px hsl(21.2903 75.6098% 8.0392% / 0.03);
  --shadow-sm:
    0 1px 3px 0px hsl(21.2903 75.6098% 8.0392% / 0.06), 0 1px 2px -1px
    hsl(21.2903 75.6098% 8.0392% / 0.06);
  --shadow:
    0 1px 3px 0px hsl(21.2903 75.6098% 8.0392% / 0.06), 0 1px 2px -1px
    hsl(21.2903 75.6098% 8.0392% / 0.06);
  --shadow-md:
    0 1px 3px 0px hsl(21.2903 75.6098% 8.0392% / 0.06), 0 2px 4px -1px
    hsl(21.2903 75.6098% 8.0392% / 0.06);
  --shadow-lg:
    0 1px 3px 0px hsl(21.2903 75.6098% 8.0392% / 0.06), 0 4px 6px -1px
    hsl(21.2903 75.6098% 8.0392% / 0.06);
  --shadow-xl:
    0 1px 3px 0px hsl(21.2903 75.6098% 8.0392% / 0.06), 0 8px 10px -1px
    hsl(21.2903 75.6098% 8.0392% / 0.06);
  --shadow-2xl: 0 1px 3px 0px hsl(21.2903 75.6098% 8.0392% / 0.15);
  --tracking-normal: 0em;
  --spacing: 0.25rem;
}

.dark {
  --background: oklch(0.1433 0.0059 41.0395);
  --foreground: oklch(0.8939 0.0129 56.235);
  --card: oklch(0.1809 0.0054 39.3496);
  --card-foreground: oklch(0.8939 0.0129 56.235);
  --popover: oklch(0.1624 0.0056 39.3332);
  --popover-foreground: oklch(0.8939 0.0129 56.235);
  --primary: oklch(0.7023 0.0794 64.6432);
  --primary-foreground: oklch(0.1775 0.0291 63.0999);
  --secondary: oklch(0.2067 0.0105 39.2828);
  --secondary-foreground: oklch(0.6868 0.0174 58.5164);
  --muted: oklch(0.2155 0.0104 39.2895);
  --muted-foreground: oklch(0.5525 0.0155 53.167);
  --accent: oklch(0.2466 0.0259 60.9919);
  --accent-foreground: oklch(0.7541 0.0853 67.1037);
  --destructive: oklch(0.6368 0.2078 25.3313);
  --destructive-foreground: oklch(0.9705 0.0129 17.3797);
  --border: oklch(0.254 0.0141 57.5752);
  --input: oklch(0.262 0.0152 62.6947);
  --ring: oklch(0.7023 0.0794 64.6432);
  --chart-1: oklch(0.7023 0.0794 64.6432);
  --chart-2: oklch(0.6658 0.1574 58.3183);
  --chart-3: oklch(0.6878 0.1331 35.7779);
  --chart-4: oklch(0.7525 0.1103 67.8332);
  --chart-5: oklch(0.6094 0.1302 57.3467);
  --sidebar: oklch(0.1367 0.0046 51.0514);
  --sidebar-foreground: oklch(0.8513 0.0148 57.5547);
  --sidebar-primary: oklch(0.7023 0.0794 64.6432);
  --sidebar-primary-foreground: oklch(0.1775 0.0291 63.0999);
  --sidebar-accent: oklch(0.2248 0.0194 66.5675);
  --sidebar-accent-foreground: oklch(0.7541 0.0853 67.1037);
  --sidebar-border: oklch(0.232 0.0121 55.7153);
  --sidebar-ring: oklch(0.7023 0.0794 64.6432);
  --font-sans:
    "IBM Plex Sans", "Inter", ui-sans-serif, system-ui, -apple-system,
    sans-serif;
  --font-serif: "IBM Plex Serif", "Georgia", ui-serif, serif;
  --font-mono: "IBM Plex Mono", "Fira Code", ui-monospace, monospace;
  --shadow-x: 0;
  --shadow-y: 1px;
  --shadow-blur: 4px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.4;
  --shadow-color: #010000;
  --shadow-2xs: 0 1px 4px 0px hsl(0 100.0000% 0.1961% / 0.2);
  --shadow-xs: 0 1px 4px 0px hsl(0 100.0000% 0.1961% / 0.2);
  --shadow-sm:
    0 1px 4px 0px hsl(0 100.0000% 0.1961% / 0.4), 0 1px 2px -1px
    hsl(0 100.0000% 0.1961% / 0.4);
  --shadow:
    0 1px 4px 0px hsl(0 100.0000% 0.1961% / 0.4), 0 1px 2px -1px
    hsl(0 100.0000% 0.1961% / 0.4);
  --shadow-md:
    0 1px 4px 0px hsl(0 100.0000% 0.1961% / 0.4), 0 2px 4px -1px
    hsl(0 100.0000% 0.1961% / 0.4);
  --shadow-lg:
    0 1px 4px 0px hsl(0 100.0000% 0.1961% / 0.4), 0 4px 6px -1px
    hsl(0 100.0000% 0.1961% / 0.4);
  --shadow-xl:
    0 1px 4px 0px hsl(0 100.0000% 0.1961% / 0.4), 0 8px 10px -1px
    hsl(0 100.0000% 0.1961% / 0.4);
  --shadow-2xl: 0 1px 4px 0px hsl(0 100.0000% 0.1961% / 1);
  --radius: 0.625rem;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
    letter-spacing: var(--tracking-normal);
  }
  html {
    @apply font-serif;
  }
}
